/* 
1. sélecteur : élement HTML (balise)
2. Des accolades {}
3.Une liste des propriétés et des valeurs (couple, paire)
4. un point virgule ;
*/
body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
    text-align:center;
    text-decoration: underline;
}

h1 {
    text-align: right;
    /* En italic */
    font-style: italic;
}
/* 
Pour les ID, il faut préfixer par # le nom que vous avez attribué comme valeur pour
l'attribut id
*/
#img-profile {
    /* Pour centrer une image , il faut combiner 2 propriétés */
    /* margin : même espace en haut, à droite, en bas et à gauche */
    margin: auto;
    /* display : permet de faire en sorte que l'image occupe toute la largeur */
    display: block;
    height: 500px;
    width: 500px;
}